::-webkit-scrollbar {
    display: none;
 }
 
  *, *::before, *::after {box-sizing: border-box;}
 
  * {
    border: 0; 
    margin: 0; 
    padding: 0;
  }
 
  li {list-style:none;}
 
  a {
    color: inherit;
    text-decoration: none;
   }
 
  
 
  button {background: none;}